<div id="client_projects" class='container-fluid'>
    <div class="header w-100">
	<h2>Projects</h2>
    </div>
    <div class="items cs-style-3 row">
	<figure class="project">
		    <img style="background-image: url({{ url_for('static', filename='img/sneakers-website.png') }})"/>
	    <figcaption>
		<h3>Sneakers Website</h3>
		<div class='bottom-caption'>
		<span>Html, Css, Javascript</span>
		<a target='_blank' href="https://portfolio.andreahasani.com/sneakers">Take a look</a>
		</div>
	    </figcaption>
	</figure>
	<figure class="project ">
	    <img style="background-image: url({{ url_for('static', filename='img/sec-filings.png') }})"/>
	    <figcaption>
		<h3>Sec Fillings</h3>
		<div class='bottom-caption'>
		<span>Python, Docker, Scraping, Telegram, API</span>
		<button>Take a look</button>
		</div>
	    </figcaption>
	</figure>
	<figure class="project ">
	    <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9UHpj2AEKEADbyWJDa0fbCshWrhSd8rEry0f1vCNAJzgWo39v' />
	    <figcaption>
		<h3>Simulating network load</h3>
		<div class='bottom-caption'>
		<span>Python, flask, docker, toxiproxy</span>
		<button class="popout">Take a look</button>
		</div>
	    </figcaption>
	</figure>
	<figure class="project ">
	    <img src='https://pbs.twimg.com/profile_images/1028230278555283456/EDlDam85_400x400.jpg' />
	    <figcaption>
		<h3>Betting api's parser to web application</h3>
		<div class='bottom-caption'>
		<span>Python, Flask, RESTful, websockets</span>
		<button class="popout">Take a look</button>
		</div>
	    </figcaption>

	    <div class='hidden-info'>
		<div class='images'>
		    <img src='https://dummyimage.com/700x300/000/fff'/>
		</div>
		<div class='entry'>
		    <p>Test</p>
		</div>
	    </div>
	</figure>
	<figure class="project ">
	    <img src='http://www.itribesolutions.com/images/web_scraping.png' />
	    <figcaption>
		<h3>Yellowpages Listing Scraping</h3>
		<div class='bottom-caption'>
		<span>Python, Excel, Scraping</span>
		<button class="popout">Take a look</button>
		</div>
	    </figcaption>
	    <div class='hidden-info'>
		<div class='images'>
		    <img src="{{ url_for('static', filename='img/yellowpages-img.png') }}"/>
		</div>
		<div class='entry'>
		    <p>Using python to scrape yellowpages and split the result in excel files.</p>
		    <p>The data scraped amounts to a total of 300124 records consisting of name, website, facebook profile, email, Cel number, city, state and zip code.</p>
		</div>
	    </div>
	</figure>
    </div>
    <div class="client-footer w-100">
	<p>There are many more projects over at my github page. Head over there by clicking <a target='_blank' href="https://github.com/AndreaHasani">here</a> or click the github icon at the top of this panel.</p>
    </div>
</div>
