{% extends "base.html" %}
{% block head %}
<meta name="description" content="Full Stack Developer" />
<meta name="viewport" content="width=device-width">
{{ super() }}
{% endblock %}
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

{% block content %}
<div id="particles-js"></div>
<!-- <nav class="navbar" id= "nav"> -->
<!--     <a href="#about" class="nav_a">About</a> -->
<!--     <a href="#about" class="nav_a" data-goto="publications">Blog</a> -->
<!--     <a href="#about" class="nav_a" data-goto="side_projects">Projects</a> -->
<!--     <a href="#about" class="nav_a" data-goto="contact_me">Contact</a> -->
<!-- </nav> -->

<div class="nav_menu">
    <div class="nav_mobile_menu js-menu">
	<div class="menu__contents js-menu-contents">
	    <button class="menu__toggle js-menu-toggle">
		<div class="toggle menu__title js-menu-title">
		    <span class="toggle-f"></span>
		    <span class="toggle-m"></span>
		    <span class="toggle-l"></span>
		</div>
	    </button>
	    <ul class="menu__items">
		<li class="menu__item" style="border-top: 2px solid #949090;"><a href="#about" class="nav_a" data-goto="main-pane">About</a></li>
		<li class="menu__item"><a href="#about" class="nav_a" data-goto="resume">Resume</a></li>
		<li class="menu__item"><a href="#about" class="nav_a" data-goto="publications">Blog</a></li>
		<li class="menu__item"><a href="#about" class="nav_a" data-goto="side_projects">Projects</a></li>
		<li class="menu__item"><a href="#about" class="nav_a" data-goto="contact_me">Contact</a></li>
		<li class="menu__item" style="border-top: 2px solid #949090;"><a href="https://github.com/AndreaHasani" target="_blank" class="nav_a">Github</a></li>
		<li class="menu__item"><a href="https://www.linkedin.com/in/andreahasani/" target="_blank" class="nav_a">Linkdin</a></li>
	    </ul>
	</div>
    </div>
    <nav class="nav_desktop_menu">
	<a href="#about" class="nav_a" data-goto="main-pane">About</a>
	<a href="#about" class="nav_a" data-goto="resume">Resume</a>
	<a href="#about" class="nav_a" data-goto="publications">Blog</a>
	<a href="#about" class="nav_a" data-goto="side_projects">Projects</a>
	<a href="#about" class="nav_a" data-goto="contact_me">Contact</a>
    </nav>
</div>

<div class="main-container">
    <div class="hero sector">
	<div class="text-block">
	    <h2>Andrea Hasani</h2>
	    <p id="typing"></p>
	</div>

	<a href="#about" class="nav_a" id="arrow"><img alt="Down arrow" src='{{ url_for('static', filename='img/down-icon.svg')}}' /></a>
    </div> <!-- #main -->

    <div class="sector" id="about">
	<div class="sector-wrapper">
		<div class="back-btn">
		    <a href="#about"><img alt="Back button" src="{{ url_for('static', filename='img/left-arrow.svg')}}" /></a>
		</div>
		<div class="social-icons flex">
		    <div class="git">
			<a href="https://github.com/AndreaHasani" target="_blank"><img alt="github" src="{{ url_for('static', filename='img/github-logo.svg')}}" /></a>
		    </div>
		    <div class="linkedin">
			<a href="https://www.linkedin.com/in/andreahasani/" target="_blank"><img alt="linkedin" src="{{ url_for('static', filename='img/linkedin-button.svg')}}" /></a>
		    </div>

		    <div class="skype">
			<a href="skype:+355684812282?chat"><img alt="skype" src="{{ url_for('static', filename='img/skype-logo.svg')}}" /></a>
		    </div>
		</div>
	    <div class="main-pane pane-active animate" style="position: relative;" id="main-pane">
		<div class="header indented-top">
		    <h2 class="mb-0">About Me</h2>
		    <h3 class="mb-0 mt-2">Andrea Hasani,<wbr> Full Stack Developer</h3>
		</div>
		<div class="description indented-middle">
		    <p>
			Hello,</br>
My name is Andrea, and I am a full stack developer based in Albania. My background in building web applications, writing bots and scripts has helped me sharpen my skills and improving my work.
		    </p>

		    <p>
My journey started when I was 7 years old from the passion and curiosity I had for computers and technology. This passion has grown much bigger over the years and I am always eager to learn new exciting technologies or grow my skills through programming challenges. I enjoy improving my existing projects, mastering a new programming language, contributing in open source projects in Github or deepening my knowledge in Python.
		    </p>

		    <p>
			If I’m not coding, I read fan-fiction books and take care of my dog.
		    </p>
		</div>
		<div class="more">
		    <h2>Navigation</h2>
		    <div class="icons flex">
			<div class="resume">
			    <a aria-label="My Resume"><img alt='Resume Icon' src="{{ url_for('static', filename='img/resume.svg')}}" /></a>
			    <p>Resume</p>
			</div>
			{% if publicationData is defined %}
			<div class="publications">
			    <a aria-label="My Publications"><img alt='Publications Icon' src="{{ url_for('static', filename='img/publications.svg')}}" /></a>
			    <p>Blog</p>
			</div>
			{% endif %}
			<!-- <div class="client_projects"> -->
			<!--     <a href="#about"><img src="{{ url_for('static', filename='img/start.svg')}}" /></a> -->
			<!--     <p>Projects</p> -->
			<!-- </div> -->
			<div class="side_projects">
			    <a aria-label="My Projects"><img alt='Projects Icon'  src="{{ url_for('static', filename='img/project-management.svg')}}" /></a>
			    <p>Projects</p>
			</div>
			<div class="contact_me">
			    <a href="#about" aria-label="Contact Me"><img alt='Contact Me Icon' src="{{ url_for('static', filename='img/close-envelope.svg')}}" /></a>
			    <p>Contact Me</p>
			</div>
		    </div>
		</div>
	    </div>
	    {% include 'sideprojects.html' %}
	    {% include 'resume.html' %}
	    {% include 'contact.html' %}
	    {% if publicationData is defined %}
	    {% include 'publications.html' %}
	    {% endif %}
	</div>
    </div>
</div> <!-- #main-container -->

{% endblock %}
