<div id="resume">
	<h1 class="user mb-2 mb-md-4">Andrea Hasani</h1>
    <div class="info top_sector d-flex">
        <div class="email">
            <a href="mailto:email@andreahasani.com">email@andreahasani.com</a>
        </div>
        <div class="number">
            <i class="fas fa-phone-volume"></i>
            <a href="cel:00355684812282">(+355) 684812282</a>
        </div>
        <div class="location">
            <i class="fas fa-map-marker-alt"></i>
            <p>Elbasan, Albania</p>
        </div>
    </div>

	<h1 class="sector_header">SKILLS & INTERESTS</h1>
	<div class="skills d-flex">
	    <ul class="m-0">
		<li><strong>Skills</strong><ul>
		<li><strong class="mr-2">Programming:</strong>Python, Html, Css, PHP, Javascript, Mysql, Bash</li>
		<li><strong class="mr-2">Deployment:</strong>Linux, Docker, KVM, Git</li>
		<li><strong class="mr-2">Knowledge:</strong>Rest API, SEO, Testing, Automation, Nginx, Google API, Twilio API , MVC (software design pattern)</li>
		    </ul>
		</li>
		<li><strong class="mr-2">Interests:</strong>Meeting new people; Traveling; Playing chess, Reading source code, Reading
books</li>
	    </ul>
	</div>
	<h1 class="sector_header">WORK EXPERIENCE</h1>
	<div class="work_experience d-flex">
	    <div class="item w-100 mb-4">
		<div class="company_info d-flex space_between">
		    <div class="company_name">
		    <h2>Hard & Soft</h2>
		    </div>
		    <div class="period">
		    <h2>Feb. 2016 - July. 2016</h2>
		    </div>
		</div>
		<div class="company_position">
		    <h3>Technical Assistant</h3>
		</div>
		<div class="task_description">
		    <ul>
			<li>Recommended use of automating tools, increasing efficiency by up to 50%</li>
			<li>Handled every task efficiently, decreasing service time and satisfying clients.</li>
		    </ul>
		</div>
	    </div>
	    <div class="item w-100">
		<div class="company_info d-flex space_between">
		    <div class="company_name">
		    <h2>Freelancer</h2>
		    </div>
		    <div class="period">
		    <h2>Sept. 2016 - Present</h2>
		    </div>
		</div>
		<div class="company_position">
		    <h3>Full Stack Developer</h3>
		</div>
		<div class="task_description">
		    <ul>
			<li class="sep"><strong>Web Developer</strong>
			    <ul>
				<li>Enhanced website design, resulting in client satisfaction</li>
				<li>Boosted website performance by configuring cache plugins and fixing javascript bugs</li>
				<li>Developed wordpress plugins</li>
				<li>Developed and implemented website tailored after client requirements</li>
				<li>Deployed platform to Amazon Web Services and used lambda to control server resources</li>
				<li>Used docker for controlling multiple website setups using Nginx as a reverse proxy</li>
				<li>Tested productions point of failures using Toxiproxy</li>
			    </ul>
			</li>
			<li class="sep"><strong>Python Developer</strong>
			    <ul>
				<li>Developed and implemented a scraper program that satisfied every requirement from the client</li>
				<li>Implemented async capability to a platform, resulting in 500% performance increase</li>
				<li>Scraped and processed data, delivering into clean CSV, excel files</li>
				<li>Developed and deployed chat, payment gateway, data parsers, invoice systems</li>
				<li>Developed event based automation system</li>
				<li>Monitored website and sent notification using SMS (Trello API) on event.</li>
				<li>Automated advertisement on social platforms such as facebook, instagram, telegram, discord, twitter, whatsapp</li>
			    </ul>
			</li>
		    </ul>
		</div>
	    </div>
	</div>
	<h1 class="sector_header">EDUCATION</h1>
	<div class="education d-flex">
	    <div class="item w-100 mb-4">
		<div class="school_info d-flex space_between">
		    <div class="school_name">
			<h2>Sali Ceka, Proffesional College</h2>
		    </div>
		</div>
		<div class="school_position">
		    <h3>System Maintenance, Majors (Computer Science)</h3>
		</div>
		<div class="school_location">
		    <h4>Elbasan, Albania</h4>
		</div>
	    </div>
        <div class="item w-100 mb-4">
            <div class="school_info d-flex space_between">
                <div class="school_name">
                    <h2>Aleksander Xhuvani, Bachelor Degree</h2>
                </div>
            </div>
            <div class="school_position">
                <h3>Technology Of Information And Communicatio, Majors (Computer Science)</h3>
            </div>
            <div class="school_location">
                <h4>Elbasan, Albania</h4>
            </div>
        </div>
	</div>
	<h2 class="references">References available upon request</h2>
    </div>
