<div id="resume">
    <div class="header">
	<h2>Andrea Hasani</h2>
	<h3>Full Stack Developer</h3>
    </div>
    <div class="flex items">
	<div class="sector number1">
	    <h2>Contact Details</h2>
	    <p><span>Email:</span> <a href="mailto:email@andreahasani.com">email@andreahasani.com</a></p>
	    <p><span>Skype:</span><a>live:bdeed82ebc20d9e7</a></p>
	    <p><span>Mobile:</span><a href="tel:355684812282">(355) 68 481-2282</a></p>
	    <p><span>Linkedin:</span><a href="https://www.linkedin.com/in/andreahasani/">andreahasani</a></p>
	</div>
	<div class="sector number2">
	    <h2>Skills</h2>
	    <div class="subsector">
		<h3>Good at:</h3>
		<ul>
		    <li>
			Python
		    </li>
		    <li>
			Html
		    </li>
		    <li>
			Css
		    </li>
		    <li>
			Javascript
		    </li>
		    <li>
			PHP
		    </li>
		    <li>
			MYSQL
		    </li>
		    <li>
			Docker
		    </li>
		    <li>
			Linux
		    </li>
		    <li>
			Rest Api
		    </li>
		</ul>
	    </div>
	    <div class="subsector">
		<h3>Learning:</h3>
		<ul>
		    <li>
			reactjs
		    </li>
		    <li>
			nodejs
		    </li>
		</ul>
	    </div>


	</div>
	<div class="sector number3">
	    <h2>Objective</h2>
	    <p>Expand skills and knowledge in programming and creating innovative technology in software and security fields.</p>
	</div>
	<div class="sector number4">
	    <h2>Education</h2>
	    <div class="subsector">
		<h3>Sali Ceka (2013-2017)</h3>
		<h4 class="course">Proffesional School</h4>
		<ul>
		    <li>
			Operating System
		    </li>
		    <li>
			Open Source OS Utility Using IPC (I3 wm, linux)
		    </li>
		    <li>
			Wordpress Theme Creation
		    </li>
		</ul>
	    </div>
	    <div class="subsector">
		<h3><span class="university">Aleksandër Xhuvani,&nbsp;</span>University (2017-Present)</h3>
		<h4 class="course"><span class="university">Aleksandër Xhuvani, </span>Technology of Information and Communication </h4>
		<ul>
		    <li>
			Java Basic Programs
		    </li>
		</ul>
	    </div>
	</div>
	<div class="sector number5">
	    <h2>Proffesional Experience</h2>
	    <div class="subsector">
		<h3>Assistent Repair Shop (2015-2015 6 months)</h3>
		<h3 class="shop">Hard & Soft</h3>
		<ul>
		    <li>Repairing of computers and smartphones</li>
		    <li>Bash scripting to automate linux installation and setup</li>
		    <li>Used a server to keep my schedule organized, synced with every device</li>
		</ul>
	    </div>
	    <div class="subsector">
		<h3>Junior Web Developer (2015-2016 1 Year)</h3>
		<h3 class="shop">TrueTycon</h3>
		<ul>
		    <li>Writting wordpress themes</li>
		    <li>Fixing clients plugin probems</li>
		    <li>Php licensing soluton (REST API)</li>
		    <li>Business website with paypal and google maps integration.</li>
		</ul>
	    </div>
	    <div class="subsector">
		<h3>Freelancer 2017</h3>
		<ul>
		    <li>Python bots</li>
		    <li>Flask websites</li>
		    <li>Scraping</li>
		    <li>Rest API integrations (twilio sms, google docs etc)</li>
		</ul>
	    </div>
	</div>
    </div>
</div>
