<div id="resume">
	<h1 class="user mb-2">Andrea Hasani</h1>
	<div class="info top_sector d-flex">
	    <div class="email">
	    <a href="mailto:email@andreahasani.com">email@andreahasani.com</a>
	    </div>
	    <div class="number">
		<i class="fas fa-phone-volume"></i>
	    <a href="cel:00355684812282">(+355) 684812282</a>
	    </div>
	    <div class="location">
		<i class="fas fa-map-marker-alt"></i>
		<p>Elbasan, Albania</p>
	    </div>
	</div>

	<h1 class="sector_header">SKILLS & INTERESTS</h1>
	<div class="skills d-flex">
	    <ul>
		<li><strong>Skills</strong><ul>
		<li><strong>Programming:</strong>Python, Html, Css, PHP, Javascript, Mysql, Bash</li>
		<li><strong>Deployment:</strong>Linux, Docker, KVM, Git</li>
		<li><strong>Knowledge:</strong>Rest API, SEO, Testing, Automation, Nginx</li>
		    </ul>
		</li>
		<li><strong>Interests:</strong>Meeting new people; Traveling; Playing chess, Reading source code, Reading
books</li>
	    </ul>
	</div>
	<h1 class="sector_header">WORK EXPERIENCE</h1>
	<div class="work_experience d-flex">
	    <div class="item w-100 mb-4">
		<div class="company_info d-flex space_between">
		    <div class="company_name">
		    <h2>Hard & Soft</h2>
		    </div>
		    <div class="period">
		    <h2>Feb. 2016 - July. 2016</h2>
		    </div>
		</div>
		<div class="company_position">
		    <h3>Technical Assistant</h3>
		</div>
		<div class="company_location">
		    <h4>Elbasan, Albania</h4>
		</div>
		<div class="task_description">
		    <ul>
			<li class="sep">Repairing computers
			    <ul>
				<li>Installing OS</li>
				<li>Upgrading hardware (RAM, CPU, HDD)</li>
				<li>Changing broken components (PSU, Laptop Screen, motherboard)</li>
			    </ul>
			</li>
			<li>Recovering Data</li>
		    </ul>
		</div>
	    </div>
	    <div class="item w-100">
		<div class="company_info d-flex space_between">
		    <div class="company_name">
		    <h2>Freelancer</h2>
		    </div>
		    <div class="period">
		    <h2>Sept. 2016 - Present</h2>
		    </div>
		</div>
		<div class="company_position">
		    <h3>Full Stack Developer</h3>
		</div>
		<div class="task_description">
		    <ul>
			<li class="sep"><strong>Web Developer</strong>
			    <ul>
				<li>Writing licensing solution (PHP)</li>
				<li>Fixing and modifying wordpress plugins</li>
				<li>Integrating API on Wordpress </li>
			    </ul>
			</li>
			<li class="sep"><strong>Python Developer</strong>
			    <ul>
				<li>Writting scrapers (Selenium, scrapy, asyncio, requests)</li>
				<li>REST API Implementation (Twilio API, Google API)</li>
				<li>Workflow automation, Unit testing and logging</li>
				<li>Website creation using flask for backend</li>
				<li>Data processing</li>
			    </ul>
			</li>
			<li>Deploying projects using docker and git (version control system)</li>
		    </ul>
		</div>
	    </div>
	</div>
	<h1 class="sector_header">EDUCATION</h1>
	<div class="education d-flex">
	    <div class="item w-100 mb-2">
		<div class="school_info d-flex space_between">
		    <div class="school_name">
			<h2>Sali Ceka, Proffesional College</h2>
		    </div>
		    <div class="period">
			<h2>Sept. 2017</h2>
		    </div>
		</div>
		<div class="school_position">
		    <h3>System Maintenance, Majors (Computer Science)</h3>
		</div>
		<div class="school_location">
		    <h4>Elbasan, Albania</h4>
		</div>
	    </div>
	    <div class="item w-100">
		<div class="school_info d-flex space_between">
		    <div class="school_name">
			<h2>Aleksander Xhuvani, Bachelor Degree</h2>
		    </div>
		    <div class="period">
			<h2>Present</h2>
		    </div>
		</div>
		<div class="school_position">
		    <h3>Technology Of Information And Communicatio, Majors (Computer Science)</h3>
		</div>
		<div class="school_location">
		    <h4>Elbasan, Albania</h4>
		</div>
	    </div>
	</div>
	<h2 class="references">References available upon request</h2>
    </div>
