<div id="side_projects">
    <div class="items">
	<div class="project flex">
	    <div class="right">
		<div>
		    <h1>Chatting Platform</h1>
		    <p>
			Simple chat platform using python and socketIO.
		    </p>
		    <ul>
			<li>SocketIO Implementation</li>
			<li>Real time messaging</li>
			<li>Attachments</li>
			<li>File format recognition</li>
		    </ul>
		    <div class="bottom flex">
			<div class="stack">
			    <p>Python, Javascript, SocketIO, Flask</p>
			</div>
		    <div class="readmore">
			<a href="https://github.com/AndreaHasani/Flask-Chat?files=1" target="_blank">Github Link</a>
		    </div>
		    </div>
		</div>
	    </div>
	</div>
	<div class="project flex">
	    <div class="right">
		<div>
		    <h1>CodeSnippet</h1>
		    <p>
			Web platform for searching question and getting code answers
		    </p>
		    <ul>
			<li>StackOverflow API</li>
			<li>Rabbitmq</li>
		    </ul>
		    <div class="bottom flex">
			<div class="stack">
			    <p>Python, Javascript, SocketIO, Flask</p>
			</div>
		    <div class="readmore">
			<a href="https://github.com/AndreaHasani/codesnippets?files=1" target="_blank">Github Link</a>
		    </div>
		    </div>
		</div>
	    </div>
	</div>
	<div class="project flex">
	    <div class="right">
		<div>
		    <h1>Reddit Post Scraper & Parser</h1>
		    <p>
			Scraping reddits posts and parsing using user defined keywords. Web Interface so
			users can configure the scraper.
		    </p>
		    <ul>
			<li>SocketIO Implementation</li>
			<li>Web Notifications Push</li>
			<li>Title and Description Filtering</li>
			<li>Configured through UI</li>
		    </ul>
		    <div class="bottom flex">
			<div class="stack">
			    <p>Python, Javascript, Reddit, SocketIO, Flask</p>
			</div>
		    <div class="readmore">
			<a href="https://github.com/AndreaHasani/Subreddit-Scraper?files=1" target="_blank">Github Link</a>
		    </div>
		    </div>
		</div>
	    </div>
	</div>
	<div class="project flex">
	    <div class="right">
		<div>
		    <h1>Sec Filings</h1>
		    <p>Created a python scraper to pull data from latest sec filings. Parsed the data and extracted the fields client wanted. Parsed Data is then send to telegram via an bot.</p>
		    <ul>
			<li>Scraped latest sec filings</li>
			<li>Parsed filings</li>
			<li>Telegram Bot</li>
		    </ul>
		    <div class="bottom flex">
			<div class="stack">
			    <p>Python, Regex, TelegramBot</p>
			</div>
		    <div class="readmore">
			<a href="#" class="disable">Github Link</a>
		    </div>
		    </div>
		</div>
	    </div>
	</div>
	<!-- <div class="project flex"> -->
	<!--     <div class="right"> -->
	<!-- 	<h1>Yellowpages Listing Scraping</h1> -->
	<!-- 	<p>Using python to scrape yellowpages and split the result in excel files.<br> -->
	<!-- 	    The field scraped consist of name, website, facebook profile, email, Cel number, city, state and zip code.</p> -->
	<!-- 	<ul> -->
	<!-- 	    <li>Excel Automation for data separation</li> -->
	<!-- 	    <li>Total data scraped: 300,124</li> -->
	<!-- 	    <li>Duplicate data filtering</li> -->
	<!-- 	</ul> -->
	<!-- 	<div class="bottom flex"> -->
	<!-- 	    <div class="stack"> -->
	<!-- 		<p>Python, Excel Automate</p> -->
	<!-- 	    </div> -->
	<!-- 	    <div class="readmore"> -->
	<!-- 		<a href="https://github.com/AndreaHasani/yellowpages-scraper?files=1" target="_blank">Github Link</a> -->
	<!-- 	    </div> -->
	<!-- 	</div> -->
	<!--     </div> -->
	<!-- </div> -->
	<!-- <div class="project flex"> -->
	<!--     <div class="right"> -->
	<!-- 	<div> -->
	<!-- 	    <h1>Simulating network load</h1> -->
	<!-- 	    <p>Client company needed a way to test their platform architecture in case of internet problems, lantacy etc.<br>My solution was to use Toxiyproxy for simulating timeout, down latency etc.</p> -->
	<!-- 	<ul> -->
	<!-- 	    <li>Setting up dockers containers for mysql and website</li> -->
	<!-- 	    <li>Testing down network condition.</li> -->
	<!-- 	    <li>Testing lantacy and timeout condition.</li> -->
	<!-- 	    <li>Testing mysql delay condition</li> -->
	<!-- 	</ul> -->
	<!-- 	    <div class="bottom flex"> -->
	<!-- 		<div class="stack"> -->
	<!-- 		    <p>Docker, Python, Flask, Mysql, Toxyproxy</p> -->
	<!-- 		</div> -->
	<!-- 	    <div class="readmore"> -->
	<!-- 		<a href="https://github.com/AndreaHasani/toxiproxy-docker-setup?files=1" target="_blank">Github Link</a> -->
	<!-- 	    </div> -->
	<!-- 	    </div> -->
	<!-- 	</div> -->
	<!--     </div> -->
	<!-- </div> -->
    </div>
    <div class="client-footer w-100">
	<p>Head over to my <a target='_blank' href="https://github.com/AndreaHasani" aria-label="More project in my github page">github</a> page for more projects and code review.</p>
    </div>
</div>
