$break-xs: 320px;
$break-sm: 600px;
$break-md: 768px;
$break-lg: 1000px;
$break-xl: 1200px;
$main-color: #e41b1b;
$main-color-darker: #cd1818;
$main-color-lighter: #e73232;
$topbar-height: 4em;
$footbar-height: 3.5em;

html {
  font-size: 1em;
  line-height: 1.4;
  position: relative;
  min-height: 100%;

}

::-moz-selection,
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
Author: Andrea Hasani
========================================================================== */

body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
  min-height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.main-container {
  min-height: calc(100% - (#{$topbar-height} + #{$footbar-height}));
  margin: 0 5%;
}

a {
    color: brown;
}

/* ===================
=================== */

.header-container {
  border-bottom: 20px solid #e44d26;
  height: 100px;

  .title,
  nav {
    height: 100px;
  }

  .title {
    width: 30%;
    float: left;
    padding-left: 30px;
  }
  nav {
    position: inherit;
    width: 70%;
    float: right;
    background: none;
    box-shadow: none;
    padding: 0;

    ul {
      list-style: none;
      display: inline;
      float: right;

      li {
        margin: 0;
        width: 150px;
        float: left;

        a {
          color: white;
          padding: 30px 0;
        }
      }
    }
  }
}

.title {
  color: white;
}

.flex {
    display: flex;
    justify-content: space-between;
}




@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}


