/* ==========================================================================
Media Queries
========================================================================== */

@media only screen and (max-width: $break-xl) {
  .main-container #about {
    .sector-wrapper {
      width: 90%;
      .more .icons {
        width: 80%;
      }
    }
  }
  #client_projects,
  #side_projects {
    .items {
      .project {
        figcaption {
          padding: 3% 5%;
          height: auto;
	  @include fluid-type(768px, 1200px, 12px, 18px);

          a {
            padding: 2% 4%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $break-lg) {
  .main-container #about {
    min-height: unset;
  }
  #client_projects {
    .items .project {
      .left {
        width: 35%;
        img {
          width: 100%;
        }
      }
      .right {
        width: 65%;

        h1 {
	  @include fluid-type(300px, 1000px, 10px, 20px);
        }

        & > div > p {
	  @include fluid-type(300px, 1000px, 6px, 14px);
          line-height: calc(8px + (16 - 8) * ((100vw - 320px) / (1000 - 320)));
        }

        .stack {
          justify-content: space-evenly;
          p {
            width: 10em;
            background: brown;
            color: #fff;
            border-radius: 5px;
            margin: 0 2%;
            padding: 1vw 1.5vw;
	    @include fluid-type(300px, 1000px, 6px, 14px);
            text-align: center;
          }
        }
      }
    }
  }
  #publications {
    .item {
      .bottom {
        padding: 1em 5% 0 5%;
        .stack {
          p {
            padding: 5px 0.8em;
	    @include fluid-type(300px, 1000px, 8px, 14px);
          }
        }
      }
    }
  }
  #about {
    .sector-wrapper {
      // height: auto;

      #resume {
        padding: 5% 3%;
      }
    }
  }
  .mobile-menu {
    ul {
      li {
        a {
          min-width: 120px;
        }
      }
    }

  }

  .main-container {
    #contact_me {
      padding: 15% 5% 1% 5%;
    }
    $hero-text-size-break: calc(
      30px + (100 - 30) * ((100vw - 320px) / (1000 320))
    );

    .hero .text-block {
      h2 {
        margin-bottom: 0;
        font-size: $hero-text-size-break;
      }

      p {
        margin-top: 10px;
        display: block;
        padding-left: 0;
        font-size: calc(#{$hero-text-size-break} / 2);
      }
    }
  }

  .main-container #about {
    .sector-wrapper {
      margin: 3% auto 10% auto;
      .social-icons {
        width: 40%;
      }
    }
  }
}

@media only screen and (max-width: $break-md) {

    nav {
	a {
	    display: none;
	}
	& > .icon {
	    float: right;
	    display: block;
	}
    }

    nav.responsive {
	position: relative;
	height: 300px;
	float: none;
	a {
	    @include fluid-type(300px, 1920px, 20px, 30px);
	    &.icon {
		position: absolute;
		right: 0;
		top: 0;
	    }
	    float: none;
	    display: block;
	    text-align: center;
	    padding-left: 20px;
	}
	.dropdown {
	    float: none;
	}
	.drop-content {
	    position: relative;
	    padding-left: 30px;
	    padding-right: 30px;
	    background-color: rgba(179, 167, 167, 0.5);
	    a {
		border-top: 1px solid #fff;
	    }
	}
	.dropdown .drop {
	    display: block;
	    width: 100%;
	    text-align: left;
	    border-top: 1px solid #fff;
	    &:hover {
		background-color: rgba(179, 167, 167, 0.5);
	    }
	}
    }
  #footer {
    padding: 5%;
    flex-wrap: wrap;
    height: unset;
    .left {
      order: 2;
      flex-direction: row;
      justify-content: space-between;
    }

    .right {
      width: 100%;
      order: 1;
      .desc {
        width: 100%;
        text-align: center;
	@include fluid-type(300px, 768px, 10px, 26px);
      }
      .social-icons {
        margin: 0 auto;
	@include fluid-type(300px, 768px, 12px, 20px);
      }
    }
    .left {
      width: 100%;
      justify-content: space-around;

      div {
	@include fluid-type(300px, 768px, 8px, 24px);
      }
    }
  }
  #side_projects {
    .items .project{
	@include fluid-type(300px, 600px, 10px, 16px);
      .right {
	  flex: 0 0 100%;
        .stack {
          position: initial;
        }

	p {
	    line-height: 1.2em;
	}

      }
    }
  }

  #client_projects,
  #side_projects {
    .items {
      .project {
        flex: 0 0 45%;
        &:nth-child(n + 3) {
          margin-top: 4%;
        }

        figcaption {
	@include fluid-type(300px, 768px, 12px, 18px);

          a {
            padding: 1% 4%;
          }
        }
      }
    }
  }
  #footer {
    padding: 5%;
    flex-wrap: wrap;
    height: unset;
    .left {
      order: 2;
      flex-direction: row;
      justify-content: space-between;
    }

    .right {
      width: 100%;
      order: 1;
      .desc {
        width: 100%;
        text-align: center;
	@include fluid-type(300px, 768px, 10px, 26px);
      }
      .social-icons {
        margin: 0 auto;
	@include fluid-type(300px, 768px, 12px, 20px);
      }
    }
    .left {
      width: 100%;
      justify-content: space-around;

      div {
	@include fluid-type(300px, 768px, 8px, 24px);
      }
    }
  }
  /*Make dropdown links appear inline*/
  #client_projects .items .project .right .stack {
    display: none;
  }
  #publications {
    .botttom {
      display: none;
    }

    .item {
      h1 {
	@include fluid-type(300px, 768px, 20px, 32px);
      }
    }
  }

  .main-container #about {

    .indented {
      padding: 30px 3%;
    }
    .indented-top {
      padding: 30px 3% 0 3%;
    }

    .indented-middle {
      padding: 0 3%;
    }

    .indented-bottom {
      padding: 0 3% 30px 3%;
    }

    & .header > h2 {
      text-align: center;
    }
    .sector-wrapper {
      width: 97%;

      #resume {
        padding: 5% 6%;
      }
    }
  }

  .main-container {
      margin: 0 3%;
    #contact_me {
      .form-div {
	@include fluid-type(300px, 768px, 12px, 16px);
        fieldset {
          text-align: left;
          input {
            width: 100%;
          }
        }
      }
    }
    #about {
      .description {
	@include fluid-type(300px, 1920px, 12px, 26px);
        line-height: 1.1em;
      }
      .sector-wrapper {
        .social-icons {
          display: none;
        }
        .more .icons {
          flex-wrap: wrap;
          justify-content: space-evenly;
          width: 80%;

          div:nth-child(-n + 3) {
            padding-bottom: 20px;
          }
        }
      }
    }

    .mobile-menu {
      #menu {
        background-color: $main-color;
        margin-bottom: 2em;
        width: 100%;
      }

      #title {
        display: none;
      }
      ul {
        position: static;
        overflow: hidden;
        max-height: 0;
        clear: both;
        -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        -ms-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
      }
      li {
        margin-bottom: 1px;
      }
      ul li,
      li a {
        width: 100%;
        min-width: 140px;
      }
      .show-menu {
        display: block;
        border-bottom: solid;
        border-bottom-color: $main-color-darker;
        border-top: solid;
        border-top-color: $main-color-darker;
      }
      .lines {
        border-bottom: 15px double #f8f8f8;
        border-top: 5px solid #f8f8f8;
        content: "";
        height: 1.4em;
        width: 20px;
        padding-right: 15px;
        float: right;
      }
    }
  }
}

@media only screen and (max-width: $break-sm) {
    .main-container #about {
      .sector-wrapper {
        .more .icons {
          width: 90%;
        }
      }
    }
  #side_projects {
    .items {
      .left {
        display: none;
      }
    }
  }

  #client_projects,
  #side_projects {
    .items {
      .project {
        flex: 0 0 90%;
        margin: 2%;
      }
    }
  }
  .main-container .hero {
    .text-block {
      top: 30%;
    }

    a img {
      bottom: 20%;
    }
  }
}

@media only screen and (max-width: $break-xs) {
  .main-container #about {
    .sector-wrapper {
      .more .icons {
        div:nth-child(-n + 4) {
          width: 50%;
          padding-bottom: 20px;
        }
      }
    }
  }
}
